#card1 {
  width: 14rem;
  margin-top: 5%;
  height: 150px;
  margin-left: 4%;
}

#card-img {
  height: 90px;
}

#card-title {
  font-size: 15px;
}

.titles {
  font-size: 16px;
  font-weight: bold;
  margin-top: 18px;
  float: left;
  margin-left: 4%;
}
